personal-assistant---calendar-agent-n51UBXXpXaVbMc6p.json
{"createdAt":"2025-02-11T14:41:05.850Z","updatedAt":"2025-02-11T15:06:00.000Z","id":"n51UBXXpXaVbMc6p","name":"Personal Assistant - Calendar Agent","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"96bb3ba3-6962-400e-a8a9-5ab98e7cf6db","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1240,140],"credentials":{"openAiApi":{"id":"c8Y8vDhRc5Jo9rka","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"c37af8e1-398b-44e1-a9ad-ca3c2f486844","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-20]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"c9a52311-643c-4a3d-a27c-97f8af612ff6","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-220]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"f07de388-3741-4273-a717-2baf49f149b4","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1000,-120],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"ferriblima@gmail.com","mode":"list","cachedResultName":"ferriblima@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-540,140],"id":"28cdc37e-8da2-41a3-b5a5-c94d96ee3c51","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"KyKhglx9nBOEUMgY","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ferriblima@gmail.com","mode":"list","cachedResultName":"ferriblima@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-680,240],"id":"0c842496-b80f-4233-ad0a-82a965ada05b","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"KyKhglx9nBOEUMgY","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ferriblima@gmail.com","mode":"list","cachedResultName":"ferriblima@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-820,280],"id":"31046660-287e-4ccd-913f-34644405ee03","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"KyKhglx9nBOEUMgY","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"ferriblima@gmail.com","mode":"list","cachedResultName":"ferriblima@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-960,260],"id":"ee2fb59a-d741-48cc-ae09-f1e167cb506f","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"KyKhglx9nBOEUMgY","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ferriblima@gmail.com","mode":"list","cachedResultName":"ferriblima@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1100,220],"id":"019aed62-b62c-44ee-82d4-187d36302ce2","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"KyKhglx9nBOEUMgY","name":"Google Calendar account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1240,-120],"id":"cf9302c3-73dd-4fe6-a8f2-985a0e171a51","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"828be872-c915-40d9-92a3-a9aac15850f5","triggerCount":0,"tags":[]}