personal-assistant-WiZbDxpk1cQvxyU1.json
{"createdAt":"2025-02-11T02:17:06.971Z","updatedAt":"2025-02-25T12:57:13.000Z","id":"WiZbDxpk1cQvxyU1","name":"Personal Assistant","active":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-20,300],"id":"b9b92b58-1315-40c7-b347-a1a5e6b542e8","name":"Window Buffer Memory"},{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"your-api-key\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[620,280],"id":"ea607e9a-4a0c-43d8-83a7-77b5428efdd8","name":"Tavily"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[720,200],"id":"e7e238e2-3030-4fea-8c08-5887be81aa79","name":"Calculator"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"8045446a-a9ae-42a3-b36a-b2e9348647b2","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-500,-100],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"ouGp8Bl9Deouhgcc","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"5dd5a93d-452c-45ae-81a3-651600136131","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-40]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"973eb579-9d63-4af6-8266-d8e1dab73930","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-100],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c","credentials":{"telegramApi":{"id":"ouGp8Bl9Deouhgcc","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"aad77875-1f4c-49a0-8898-89e1062e856f","name":"Download File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-120,-200],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"ouGp8Bl9Deouhgcc","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"1dad089c-fe6d-45ef-96eb-69eb96201bf9","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,-100]},{"parameters":{"options":{}},"id":"6abb50db-c054-4b92-9f6f-083feef15c3c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-160,280],"credentials":{"openAiApi":{"id":"c8Y8vDhRc5Jo9rka","name":"OpenAi account"}}},{"parameters":{"name":"emailAgent","description":"Call this tool for email actions","workflowId":{"__rl":true,"value":"CE8eaW9jM3bAKCWB","mode":"list","cachedResultName":"Personal Assistant - Email Agent"}},"id":"782ea9d3-b293-4ebe-97e4-6a8b43644b67","name":"Email Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[140,360]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[200,-100],"id":"7cf7c44f-2431-4d6e-9a95-9e0817534da2","name":"Ultimate Assistant"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"473a50c7-9817-4cfc-b657-005259c2ac35","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[0,-200],"credentials":{"openAiApi":{"id":"c8Y8vDhRc5Jo9rka","name":"OpenAi account"}}},{"parameters":{"content":"Note: The telegram credential may stop working. I can try to reactivate it by deactivating and reactivating this node.","height":140,"width":200,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,60],"id":"c5b1a7e1-a8c2-4dca-b898-e2d87dfed59c","name":"Sticky Note2"},{"parameters":{"name":"calendarAgent","description":"Call this tool for calendar actions","workflowId":{"__rl":true,"value":"n51UBXXpXaVbMc6p","mode":"list","cachedResultName":"Personal Assistant - Calendar Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[280,380],"id":"8b7394e2-35be-4ad7-ba58-7ffdf6e87567","name":"Calendar Agent"}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"Ultimate Assistant","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Ultimate Assistant","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ultimate Assistant","type":"ai_languageModel","index":0}]]},"Email Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Ultimate Assistant":{"main":[[{"node":"Response","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Ultimate Assistant","type":"main","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ce1b00ba-417d-4b60-be83-b456c815dd83","triggerCount":1,"tags":[]}